.maincontainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.configurator{
    display: flex;
    flex-direction: column;
    border: 2px dotted black;
    align-items: center;
    margin-bottom: 5px;   
    padding-bottom: 5px;
    background-size: 100% auto;
}

.container{
    display: flex;
    border:  1px solid black;
    margin-bottom: 5px;
}

.contForm{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    border:1px solid black;
    border-collapse: collapse;
}

.contForm1{
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.contForm2{
    display: flex;
    flex-direction: column;
    margin:2px;
}

table{
    table-layout: fixed;
    width: 100%;
}

td{
    width:20%;
}

.btn{
    width:100%;
}